@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    .navbar{
        margin-bottom:0;
    }

    .extra-jumbotron{
        background-image:url('/Destino.jpg');
        background-size:100%;
    }


  .body{
      background-color:yellow;
  }
</style>


<body>
<div class="jumbotron extra-jumbotron">
      <h1 style="color:white"><span style="color:yellow"> CONTATO </span>DIOGO TURISMO</h1>
      <h4 style="color:white">Entre em contato por e-mail para tirar dúvidas, fazer reclamações ou elogiar o atendimento.</h4>
  </div>


   



     <div class="card-deck">
  <div class="card" style="border: 1px solid transparent;">
    <div class="card-body" style="background-color:black;color:yellow;">
      <h4 style="color: white;">CONTATO DIOGO TURISMO</h4>
             <br>
              <p>Rua João Recode, 599 - Loja 30 - Galeria Recode Trade Center</p>
              <br>
              <p>(33)3333-3333</p>
              <br>
              <p>E-mail: contato@diogoturismo.com.br</p>
              <br>
              <p>Belo Horizonte-MG - CEP: 30852-98</p>
              <br>
              <p>Atendimento: 08:30 às 18:00</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/mapa.jpg" alt="Card image cap">
  </div>
  </div>
  </body>
 